---
title: Huiming's Blog.
layout: layouts/home.njk
description: I build this blog to keep me learning and writing.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  I build this blog to share what I've learned, it's welcome to contact me to chat about anything on this site, or report any issue.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>